<div class="modal-dialog modal-xs">
    <div class="modal-content">
        <form method="POST" class="form-inline">
        {% csrf_token %}
            <div class="col-xl-12 col-md-6 mb-6">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">¿Inactivar {{proveedores.nombre}}?</div>
                                <button id="btnInactivar" type="button" class="btn btn-danger mt-3"><i class="fas fa-question-circle"></i> Inactivar</button>
                                <button type="button" class="btn btn-success mt-3" onclick="return cerrar_modal()">Cancelar</button>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-question-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
    var token = $('input[name=csrfmiddlewaretoken]').val();
  $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
    });
  
  $("#btnInactivar").click(function(e){
      e.preventDefault();
      //alert("Probando");

      var id = {{ proveedores.id }};
      var template="{% url 'compras:inactivar_proveedor' proveedores.id %}";
      //template += id;
      var data = {"id":id};
      data = JSON.stringify(data);

      $.ajax({
        type: "POST",
        url: template,
        data: data,
        beforeSend: function(xhr,settings){
          $.ajaxSettings.beforeSend(xhr,settings);
        },
        success: function(response){
          console.log(response);
          cerrar_modal();
          //alert(response);
          var color = (response.startsWith('No existe el proveedor')? 'red':'green');
          mensaje(response, color);
        },
        error: function(jqXHR, textStatus, errorThrow){
          console.log(textStatus, errorThrow);
          mensaje(errorThrow,'red');
          cerrar_modal();
        }
      });
  });

});
</script>