{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Compras</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item" href="{% url 'compras:compras_new' %}"><i class="far fa-calendar-plus"></i> Nueva compra</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                {% if not comp %}
                <div class="alert alert-info">No hay compras para mostrar</div>
                {% else %}
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Id</th>
                        <th>Fecha de compra</th>
                        <th>No. Fact</th>
                        <th>Fecha Factura</th>
                        <th>Observaciones</th>
                        <th>Total de compra</th>
                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        {% for compra in comp %}
                        <tr>
                            <td>{{compra.id}}</td>
                            <td>{{compra.fecha_compra}}</td>
                            <td>{{compra.no_fact}}</td>
                            <td>{{compra.fecha_factura}}</td>
                            <td>{{copra.observaciones}}</td>
                            <td>{{compra.total}}</td>
                            <td>
                            <a class="btn btn-warning btn-circle" href="{% url 'compras:editar_compras' compra.id %}"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
              </div>

{% endblock content %}

{% block js_page %}
 <script>
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });
  </script>
{% endblock js_page %}